@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url(./animacoes.css);
@import url(./music-player.css);

:root {
    --primary-bg-color: #767cbe;
    --secondary-bg-color: #000000;
    --box-bg-color: #0004087c;
    
    --border-color: #767cbe3a;
    --boxshadow-color: #090909;
    --text-color: aliceblue;
    --textshadow-color: #4b4f74;

    --primary-color: #767cbe;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(var(--secondary-bg-color), var(--primary-bg-color));

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: 'Merriweather', serif;
}

#relogio{
    color: aliceblue;
    margin-left: 50px;
    text-transform: uppercase;

    font-size: 1.5vw;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-variant-numeric: tabular-nums;
    text-shadow: 2px 2px 1px var(--textshadow-color);

    animation: 2s opacity 2s ease backwards;
}

.divider {
    border-top: solid 2px var(--border-color);
    width: 90%;
}

.content{
    display: flex;
    align-items: center;
}

/*CONTAINERS*/

.aux-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 50px;

    font-size: 1vw;
    color:var(--text-color);
    text-shadow: 2px 2px 1px var(--textshadow-color);

    background-color: var(--box-bg-color);
    width: 30%;
    height: 80vh;

    border: double 6px var(--border-color);
    border-radius: 1rem;
    transition: background-color 0.5s ease, scale 0.5s ease;
    box-shadow: 5px 5px 1px var(--boxshadow-color);

    animation: 3s ascend 1s ease backwards, 4s opacity 1s ease backwards;
}

.main-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 25px;

    font-size: 1vw;
    color: var(--text-color);
    text-shadow: 2px 2px 1px var(--textshadow-color);

    background-color: var(--box-bg-color);
    width: 70%;
    height: 80vh;

    border: double 6px var(--border-color);
    border-radius: 1rem;
    transition: background-color 0.5s ease, scale 0.5s ease;
    box-shadow: 5px 5px 1px var(--boxshadow-color);

    animation: 3s ascend 1.5s ease backwards, 4s opacity 1.5s ease backwards;
}

.profile-img {
    max-width: 60%;
    height: auto;

    border: solid 5px var(--border-color);
    border-radius: 50%;
    overflow: hidden;
    
    transition: scale 0.5s ease;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-carrossel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.img-carrossel img {
    width: 15vw;
    object-fit: cover;
    object-position: center;
    
    border: solid 5px var(--border-color);
    border-radius: 1rem;
    overflow: hidden;

    transition: scale 0.5s ease;
}

/*CLASSES RELACIONADAS A TEXTO*/

.text-box-quote{
    user-select: none;
    font-style: italic;
    text-align: center;

    margin-left: 50px;
    margin-right: 50px;
}

.text-box {
    user-select: none;
    text-align: center;
    width: 70%;
}

.icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 70%;
}

.icon-box a{
    font-size: 2em;
    color: var(--text-color);
    position: relative;

    text-shadow: 2px 2px 1px var(--textshadow-color);

    transition: transform 0.5s ease;
}