@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(#000000, #767cbe);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: 'Merriweather', serif;
}

#relogio{
    color: aliceblue;
    margin-left: 50px;
    text-transform: uppercase;

    font-size: 1.5vw;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-variant-numeric: tabular-nums;
    text-shadow: 2px 2px 1px #767cbe;
}

.divider {
    border-top: solid 2px #767cbe3a;
    width: 90%;
}

.content{
    display: flex;
    align-items: center;
}

.pattern-divider {
    border: none;
    height: 30px; 
    background-image: url("dividerKH.png");
    background-repeat: repeat-x;
    background-position: center;
    margin: 2.5rem 0;
}

/*CONTAINERS*/

.main-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 25px;

    font-size: 1vw;
    color:aliceblue;

    background-color: #0004087c;
    width: 70%;
    height: 80vh;

    border: double 6px #767cbe3a;
    border-radius: 1rem;
    transition: background-color, scale 0.5s ease;
    box-shadow: 5px 5px 1px #090909;
}

.aux-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-right: 25px;
    margin-left: 50px;

    font-size: 1vw;
    color:aliceblue;

    background-color: #0004087c;
    width: 30%;
    height: 80vh;

    border: double 6px #767cbe3a;
    border-radius: 1rem;
    transition: background-color, scale 0.5s ease;
    box-shadow: 5px 5px 1px #090909;
}

.profile-img {
    max-width: 60%;
    height: auto;

    border: solid 5px #767cbe3a;
    border-radius: 50%;
    overflow: hidden;
    
    transition: scale 0.5s ease;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-carrossel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.img-carrossel img {
    width: 15vw;
    object-fit: cover;
    object-position: center;
    
    border: solid 5px #767cbe3a;
    border-radius: 1rem;
    overflow: hidden;

    transition: scale 0.5s ease;
}

/*CLASSES RELACIONADAS A TEXTO*/

.text-box-quote{
    font-style: italic;
    text-align: center;

    margin-left: 50px;
    margin-right: 50px;
}

.text-box {
    text-align: center;
    width: 70%;
}

.icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 70%;
}

.icon-box a{
    font-size: 2rem;
    color: aliceblue;
    position: relative;

    transition: transform 0.5s ease;
}